{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>How am I?</h1>
                    <span class="subheading">Software Engineering Student | Pythonista | DS & ML</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Hey, I'm Mahmoud!
                </p>
                <p>
                    I'm a Software Engineering student.
                    Currently, in the fourth year of University.
                    I study Data Science and Machine Learning, but in my spare time I also work
                    on fullstack development projects, like the one you are reviewing now.
                </p>
                <p>
                    Have any questions about me? please head to the <a href="{{ url_for('contact') }}">contact page</a>
                    to reach me out on my email.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
